.root {
  width: 35rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--background-light);
}

.button {
  width: 100%;
  height: 3.1875rem;

  font-size: 1rem;
  font-weight: 500;
  color: var(--foreground);

  border: none;
  background: var(--background-dark);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 200ms;

  &:hover {
    background: var(--background-lighter);
  }

  &:active {
    transform: scale(0.98);
  }

  &.loading {
    cursor: default;

    &:hover {
      background: var(--background-dark);
    }

    &:active {
      transform: none;
    }
  }

  &.success {
    cursor: default;
    background: var(--success);

    &:active {
      transform: none;
    }
  }
}
