:root {
  /* Tailwind color palette */
  --background-lighter: oklch(44.6% 0.043 257.281); // slate-600
  --background-light: oklch(37.2% 0.044 257.287); // slate-700
  --background-medium: oklch(27.9% 0.041 260.031); // slate-800
  --background-dark: oklch(20.8% 0.042 265.755); // slate-900
  --foreground: oklch(98.4% 0.003 247.858); // slate-50
  --foreground-dark: oklch(86.9% 0.022 252.894); // slate-300
  --error: oklch(63.7% 0.237 25.331); // red-500
}

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;

  font-family: "Golos Text", "Inter", sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;

  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-dark);
}
