.trigger {
  all: unset;

  min-width: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.375rem;

  font-size: 1rem;
  color: var(--foreground);

  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0 0.4rem 0.4rem 0;
  background: var(--background-dark);
}

.icon {
  color: var(--foreground);
}

.content {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--foreground);
}

.search {
  outline: none;

  font-size: 1rem;
  color: var(--foreground);

  border: 1px solid var(--background-dark);
  background: var(--background-lighter);
  border-radius: 0.25rem;
}

.viewport {
  overflow-y: auto;

  max-height: 10rem;
}

.item {
  position: relative;

  height: 1.5rem;

  display: flex;
  align-items: center;

  font-size: 1rem;
  color: var(--background-dark);

  padding: 0 2rem 0 1.5rem;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--background-lighter);
  }

  &[data-highlighted] {
    outline: none;
  }
}

.item-indicator {
  position: absolute;
  left: 0;

  width: 1.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
