.trigger {
  all: unset;

  min-width: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.25rem;
  color: var(--foreground);

  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0 0.4rem 0.4rem 0;
  background: var(--background-medium);
  transition: background 200ms;

  &:hover {
    background: var(--background-dark);
  }
}

.icon {
  color: var(--foreground);
}

.content {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 0.75rem 0 0;
  border-radius: 0.5rem;
  background: var(--foreground);
}

.search-wrapper {
  width: 100%;

  padding: 0 1rem;
}

.search {
  outline: none;

  font-size: 1rem;
  color: var(--background-dark);

  padding: 0.5rem;
  border: 1px solid var(--background-dark);
  background: transparent;
  border-radius: 0.25rem;
}

.viewport {
  overflow-y: auto;

  max-height: 10rem;

  border-top: 1px solid var(--background-dark);
}

.item {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 1rem;
  color: var(--background-dark);

  padding: 0.25rem 2rem 0.25rem 1.5rem;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--foreground-dark);
  }

  &[data-highlighted] {
    outline: none;
  }
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.symbol {
  font-size: 1rem;
  font-weight: 600;
}

.name {
  font-size: 0.75rem;
}

.item-indicator {
  position: absolute;
  left: 0;

  width: 1.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
