.root {
  height: 4.3125rem;

  display: flex;

  border-radius: 0.5rem;
  background: var(--background-lighter);
  transition: border 200ms;

  &.invalid {
    outline: 1px solid var(--error);
  }
}

.input-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  padding: 0.325rem 1rem 0.75rem 1rem;
}

.top-wrapper {
  display: flex;
  gap: 1rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--foreground-dark);
}

.error {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--error);
}

.input {
  width: 100%;

  font-size: 1.625rem;
  color: var(--foreground);

  background: transparent;
  border: none;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
