.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  font-size: 1rem;
  color: var(--foreground-dark);
  font-weight: 600;

  span {
    font-weight: 400;
  }
}

.button {
  width: 2.25rem;
  height: 2.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--background-medium);
  transition: background 200ms;

  &:hover {
    background: var(--background-dark);
  }

  &:active {
    transform: scale(0.95);
  }
}

.icon {
  width: 1.25rem;
  height: auto;
}
